@import '../base/base.css';
@import '../base/reset.css';
@import '../base/headerAdmin.css';
@import '../base/footer.css';

h1 {
    width: 100%;
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 3.2rem;
    color: var(--color-base);
    user-select: none;
}